/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
 */

/* Global */

body {
    /* background-color: #cfd3ce; */
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #313131;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #444;
}

a:hover {
    color: rgb(110, 109, 109);
}

hr {
    border-style: solid none none;
    border-width: 1px;
    border-color:#d8d8d8;
}

/* Container */

.container {
    background-color: #fff;  
    width: 80%;  
    margin: 0 auto;
}

/* Headings */

.section-heading {
    background-color: #313131;
    color: white;
    padding: 2% 0;
    font-size: 1.75rem;
}

.section-container {
    padding: 3% 5%;
}

/* Header */
#header {
    text-align: center;
}

.header-name {
    font-size: 3rem;
    margin: 2% auto;
}

.header-link {
    margin: auto 5%;
}

/* Skills */
.skills {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    
}

.skills-title {

}

/* Projects */

.project {
    padding: 5%;
    background-color: #d8d8d8;
    margin: 2% auto;
}

.project-link-div {
    text-align: center;
}

.project-name {
    font-size: 1.2rem;
    margin: 0 auto 2%;
}

.project-link {
    padding: 2%;
}

/* Work Experienc */

.job-experience {
    display: flex;
    flex-wrap: wrap;
}

.job-title {
    text-align: left;
    flex-basis: 75%;
}

.job-date {
    flex-basis: 25%;
}

.job-description {
    flex-grow: 0;
    flex-basis: 100%;
}

/* Education */

#education {
    text-align: center;
}